*,
*::before,
*::after,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#canvas {
  border: 1px solid #222;
  background-image: linear-gradient(
    90deg,
    rgba(18, 72, 134, 0.671) 35%,
    rgba(18, 134, 124, 0.698) 65%
  );
}
